html{
    scroll-behavior: smooth;
    
}
body{
    
    margin: 0px;
    padding: 0px;
    overflow-y: scroll;
    margin-bottom: 25px;
    background-size: cover;

  
}
/* Hide scrollbar for Chrome, Safari and Opera */
/*thank you W3school :)))))*/

body::-webkit-scrollbar {
    display: none;
}
/* --------------------background image------------------*/

.headerImage{
    background-image: url(../assets/images/homePageHeader.png);
    width: 100%;
    height: 50em;
    background-size: cover;

    
}



.navImg img{
    position: relative;
    float: left;
    width: 266px;
    height: 48px;
    padding: 12px;
    
}

/* ---------------------background of nav-----------------*/
.navBarBackground{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    width: 85%;
    height: 75px;
    opacity: 85%;
    float: none;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    margin-top: 70px;
    border-radius: 30px;
    
}

/*---------------------- search bar-----------------------*/

.searchBar input{
    float: right;
    border: none;
    margin-top: 8px;
    
    font-size: 18px;
    
    margin: 0px;
    
   

  }
  .searchBar{
   /*---------- style needs some work*/
   width: 25px;
   margin-left: 230px;
   margin-right: 20px;
  
   
  }

  .searchBar input[type=text]{
    padding: 0px;
    margin-right: 20px;
    padding: 9px;
    background-color: rgb(131, 96, 151);
    border-radius: 12px;
    
    
  }

  .searchBar ::placeholder{
    color: white;
  }


.searchBar input[type=text]:hover{
    border-color: rgb(77, 24, 77);
    border-style: solid;
    border-radius: 12px;
}

.searchBar input[type=text]:focus{
    border-color: rgb(165, 123, 221);
    border-style: solid;
    border-radius:12px ;
    background-color: white;
}
  

/* ---------------------nav bar -- jusst the home f and con-----------------*/

.linksInNav{ 
    justify-content: center;
    text-align: center;
    width: 80%;
    padding: 15px;
    margin-left: 0px;
    
   
}


.linksInNav a{
    display: inline;
    text-decoration: none;
    color: rgb(21, 8, 75);
    text-align: center;
    padding: 12px;
    font-size: 18px;
    border-radius: 15px;
    font-family: "Poppins";
  
    
    
}
.linksInNav .linkActive{
    font-size: 22px;
    color: red;
}

/* .linksInNav a:hover{
   
    animation-name: linkAnimation;
    animation-duration: 0.8s;
} */

.linksInNav a:hover{
   
    animation-name: linkAni;
    animation-duration: 1.5s;
}

@keyframes linkAni {
    from{
        font-size: 18px;
    }
    to{
        font-size: 22px;
        color: red;
    }
}

/* @keyframes linkAnimation { /*makk die animation cooler en maak hom stick
    from{
        background-color: none;
    }
    to{
        background-color: rgb(102, 77, 172);
        border-radius: 15px;
    }

    from{
        color: rgb(21, 8, 75);
    }
    to{
        color: white;
    }
   /*from{
    top: auto;
   }
   to{
    top: 0px;
   }
 */


/* ---------------------bottom font embed------------------*/
.logoSlogen {
    position: absolute;
    top: 80%;
    left: 6%;
}
    /* nbuttons and font wheigt------------------------*/

button{
    font-weight: 700;
    cursor: pointer;

}


.logoSlogen p{
    font-family:"Poppins",sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: rgb(94, 42, 143);
    margin-top: -15px;
    padding: 0px;
}

/* figure uit hoe om die text te doen*/

.logoSlogen h1{


     font-family: "Porter Sans Block";
     font-size: 48px;
     color: red;
     
     
 
}
.ventureTitle{
    margin-top: -20px;
}

@font-face {
    font-family: 'Porter Sans Block';
    src: url(../assets/fonts/porter_sans_block/porter-sans-inline-block-webfont.woff)format("woff");

    
}

/* ---------------- featured page-------------------------------------------------*/

.featuredTrips{
    display: flex;
    flex-direction: row;
    background-color: rgb(59, 30, 87);
    justify-content: space-around;
    
    align-items: center;
}

.featureImgs img{
    width: 609px;
    height: 649px;
    padding: 8%;
    margin-left: 10%;
    
}

/* paragraphhhh styling of feature flights*/
.featureTextDiv{
    margin-left: 12%;
    margin-right: 10%;
    font-family: "Poppins";
}

.featureTextDiv h2{
    font-size: 48px;
    font-weight: 700;
    color: white;
}
.featureParagraph{
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin-top: -30px;
}
.ftHeading{
    
    font-size: 18px;
    color: rgb(112, 194, 167);
    font-weight: 500;
    margin-bottom: -25px;
}

.buttonBook a{
    text-decoration: none;
    font-family: "Poppins";
    width: 270px;
    height: 70px;
    font-size: 18px;
    background-color: red;
    color: white;
    padding: 15px;
    border-radius: 12px;
    padding-left: 50px;
    padding-right: 50px;
    
   
}

.buttonBook{
    margin-top: 10%;
}

.buttonBook a:hover{
    background-color:   rgb(112, 194, 167);
   
}


/* --------------------------- travel in style with.... part of home page-------------*/

.shuttles{
    display: flex;
    flex-direction: row;
    font-family: "Poppins";
    background-color: white;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;


}

.shuttles h2{
    color: rgb(59, 30, 87);
    font-size: 48px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 0px;
}
.shuttleParag{
    color: gray;
    margin-top: 5px;
    font-size: 18px;
    font-weight: 400;
    
}

.shuttlesText{
    width: 50%;
    padding: 20px;
    margin-left: 9%;

}

.shuttleImg{
    width: 50%;
    margin-right: 5%;
    margin-left: 5%;
}

.shuttleImg img{ 
    width: 609px  ;
    height: 477px ;
}

/*------------------- sneak peak freatured flights page-----------------------------*/

.tripsSneakPeak{
    background-color:rgb(59, 30, 87) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
    padding-top: 3%;
    color: white;
    padding-bottom: 5%;
    
}

.upcomingTripsText{
    display: flex;
    flex-direction: column;
    align-items: center;
  
   
}
.upcomingTripsText h2{
    font-size: 48px;
    font-weight: 700;
  
   
   
   
}
.tripContain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    font-family: "Poppins";
    text-align: center;
    margin-left: 0%;
    margin-bottom: 0px;
   

}

.upcomingTrips{
    width: 20%;
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
 
}
.upcomingTrips h3{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 2px;
}

.upcomingTrips p{
    margin-top: 0px;
    width: 100%;
    font-size: 16px;
    font-weight: 200;
}

.upcomingTrips img{
    width: 278px;
    height: 278px;
    object-fit: cover;
    border-radius: 25px;
}

.upcomingTrips img:hover{
    border-color: white;
    border-radius: 12px;
    border-width: 2px;
    border-style: solid;

}

.btnBook a{
    text-decoration: none;
    font-family: "Poppins";
    width: 270px;
    height: 70px;
    font-size: 18px;
    background-color: red;
    color: white;
    padding: 15px;
    border-radius: 12px;
    padding-left: 50px;
    padding-right: 50px;
}
.btnBook{
    margin-top: 2%;
}

.btnBook :hover{
    background-color: rgb(112, 194, 167);
    
}


/*--------------------footer styling---------------------*/
footer{
    padding-top: 3%;
}

.footerSection{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Poppins";
    padding: 20px;
}

.footerLogo{
    width: 25%;
}

.footerLogo img{
     width:266px  ;
     height:  48px;
}

.footerLogo p{
    color: gray;
    font-size: 16px;
    font-weight: 400;
}

.footerLinks{
    display: flex;
    flex-direction: column;
}
.footerLinks h3{
    font-size: 20px;
    color: black;
    font-weight: 500;
}
.footerLinks a{
    text-decoration: none;
    color: gray;
    font-size: 18px;
    font-weight: 400;

}

.footerLinks a:hover{
    color: rgb(223, 27, 27);
}

.footerMedia img{
    width: 77px;
    height: 77px;
}

.footerLinks .footActive{
    color: red;
}

hr{
    width: 80%;
    color: gray;
    left: 10%;
    right: 10%;
}

.footerFoot{
    font-family: "Poppins";
    font-size: 16px;
    color: gray;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;

}
.footerFloat{
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footerFloat p{
    padding-left: 12px;
    padding-right: 12px;
}

/*-------------rocket section -------------------*/

.rocketToTop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: transform .2s;
    
}

.rocketToTop img{
    width: 100px;
}

.rocketToTop p{
    font-family: "Poppins";
    font-size: 18px;
    color: orangered;
    font-weight: 500;
   
}

/*----------hover animations for rocket---------*/
.rocketToTop:hover{
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
}


/*
.buttonBook a:hover{
   animation-name: bookNowBtn;
   animation-duration: 0.8s;
}

@keyframes bookNowBtn {
    from{
      background-color: red;
    }
    to{
        background-color: rgb(197, 104, 16);
    }
}
*/

/*------------------------------------------------------------ flights page---------------------------------------------*/

.flightsHeader{
  margin: 0px;
}

.flightsBackImg{
    
    background-image: url(../assets/images/headerbackBack.png);
    width: 100%;
    height:350px; 
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    
    margin: 0px;
   
   
    

}

.aboutBackImg{
    background-image: url(../assets/images/headerbackBack.png);
    width: 100%;
    height:150px; 
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: 100%;
}

.flightsHeading{
    font-family: "Porter Sans Block";
     font-size: 25px;
     color: white;
     text-align: center;
     margin: 0px;
    

     
}

.filterSection{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(59, 30, 87) ;
    width: 100%;
    font-family: "Poppins";

}

.filResultContain{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    color: white;
    font-size: 18px;
    margin-right: 40px;
}

.filterResult{
    background-color: white;
    color:rgb(59, 30, 87) ;
    font-size: 18px;
    opacity: 80%;
    padding: 12px;
    border-radius: 12px;
}

.filterWithIcon{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    padding: 15px;
}

.filterWithIcon img{
    width: 30px;
    height: 30px;
}

.filterWithIcon p{
    font-size: 18px;
    color: white;
    font-weight: 300;
}

#horiLine{
    width: 2px;
    height: 40px;
}



/*=-----------styling for purple section---------*/
.tripContainer2{
    background-color:rgb(59, 30, 87) ;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}


.tripContainer2 h2{
    color: white;
   
}

.pricePurple{
    color: aquamarine;
    margin: 0;
    
    font-size: 20px;
    
}

.tripDescripPurple{
    color: white;
}

.addButtonPurple{
    background-color:rgb(118, 207, 177);
    padding: 20px;
    border-radius: 10px;
    width: 40px;
    color: white;
    font-weight: 700;
    padding-left: 50px;
    padding-right: 20px;
    margin-right: 30px;

}


/*=----------------------trip selection and info section-------*/
.tripContainer{
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
  
}

.tripSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins";


}
.tripImg{
    width: 50%;
    padding: 8%;
    padding-right: 6%;
    padding-top: 0px;
    padding-bottom: 0px;
}
.infoContain{
    display: flex;
    flex-direction: column;
    margin-right: 8%;
    padding-top: 3%;
 
}

.infoContain h2{
    font-size: 40px;
    margin: 0;
}

.price{
    display: flex;
    flex-direction: row;
    
    align-items: center;
    color: gray;
    font-size: 20px;
    margin-top: 5px;
}

.price p{
    margin: 0;
    margin-right: 5%;

}

.rating{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    margin-top: 5px;

}

.rating p{
    font-size: 13px;
    color: gray;
}

.starContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5%;


}
.starContainer img{
    width: 25px;
    height: 25px;
}



.starHalf{
    width: 15px !important;
    
}

.blueHori{
    width: 3px;
    height: 30px;
    margin-right: 5%;
}

.tripDescrip{
    font-weight: 400;
}

.addCartAndButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.addButton{
    padding: 20px;
    border-radius: 10px;
    width: 40px;
    color: white;
    background-color:rgb(59, 30, 87) ;
    padding-left: 50px;
    padding-right: 20px;
    margin-right: 30px;

}

.tripBookBtn{
    
    background-color: red;
    color: white;
    border-radius: 10px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 18px;
    transition: transform 0.2s;
    border: none;
    font-family: "Poppins";

}

/*trying out a tutorial on the internet--animation  key word "popupSubmit*   ------pop up added---------- and styling*/

.tripBookBtn:active{
    transform: scale(1.20);
}

/*styling the pop  up container ----*/


.popupSubmit{
    width: 400px;
    background-color: rgb(255, 255, 255);
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform : translate(-50%, -50%) scale(1);
    text-align: center;
    padding: 0 30px 60px ;
    color: rgb(109, 75, 141);
    box-shadow: 0 2px 5px;
    position: fixed;
    display: none;
    z-index: 2;
    cursor: pointer;
    
   
}
/*//////////// adding code for the view cart popup///////////*/
.popupViewCart{
    width: 75%;
    height: 75%;
    background-color: rgb(237, 203, 234);
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform : translate(-50%, -50%) scale(1);
    text-align: center;
    padding: 0 30px 60px ;
    box-shadow: 0 2px 5px;
    position: fixed;
    display: block;
    z-index: 2;
    cursor: pointer;

}

.popupViewCart img{/* rocket for popup styling*/
    width: 7%;
    margin-top: -50px;
  

}


.popupViewCart h2{
    font-family: "Poppins";
}

.popupViewCart p{
    font-family: "Poppins";
    font-size: 20px;
    margin-top: 0px;
    

}


.removeItembtn{
    
    color: red;
    
}

.cartDataContainer{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    width: 80%;
    margin-right: 10%;
   
    overflow-y: scroll;
    height: 80%;


}



    /* Hiding scrollbar for Chrome, Safari and Opera */
#dataScroll::-webkit-scrollbar {
    display: none;
}

 /*Hiding scrollbar for IE, Edge and Firefox */
#dataScroll {
  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}



.headingsInCart{
    display: flex;
    width: 100%;
    flex-direction: row;
   

    
}

.headingCartFlights{
    width: 40%;
    float: left;
    
}
.headinCartPrice{
    width: 25%;
}
.headingCartQuant{
    width: 20%;
}

.removeSpace{
 width: 15%;
}

.itemInCart{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-style: solid none solid none;
    border-width: 1px;
   padding-top: 12px;
   padding-bottom: 12px;
    border-color: gray;
    margin-top: 12px;
}

.itemInCart p{
    margin: 0;
}


.itemImg{
    width: 40%;
    margin-left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

}
.itemImg p{
    padding-left: 5px;
}
.itemImg img{
    width:60px;
    height: 60px;
    margin-top: 10px;
}

.itemPrice{
    width: 25%;
}

.itemQuant{
    width: 20%;
}

.itemQuant input{
    width: 40px;
    height: 40px;
}

.itemRemove{
    width: 15%;
}

.removeItembtn{
    border: none;
    background-color: rgb(202, 14, 14);
    color: white;
    padding: 12px;
    border-radius: 5px;
}

.totalDisplay{
    display: flex;
    flex-direction: row;
    float: right;
    justify-content: space-between;
    margin-top: 4%;
    
    

}
.totalDisplay p{
    font-size: 25px;
    font-weight: 500;
    margin-right: 3%;
}



/*//////////// end code for the view cart popup///////////*/

.popupSubmit img{/* rocket for popup styling*/
    width: 20%;
    margin-top: -50px;
  

}

.popupSubmit h2{
    font-family: "Poppins";
}

.popupSubmit p{
    font-family: "Poppins";
    font-size: 20px;
    margin-top: 0px;
    

}

.popupSubmit button{
    /* this is the view chart button on the popup*/
    width: 35%;
    padding:  10px 0;
    background-color: rgb(181, 137, 223);
    margin: 5px;
    outline: none;
    font-size: 15px;
    border-radius: 12px;
    border: none;
    

}
#okClose{
    background-color: rgb(247, 61, 61);

}

#okClose:hover{
    background-color: rgb(255, 6, 6);
}

.popupSubmit button:hover{
    /*hover of view chart button on the popup*/
    background-color: rgb(144, 43, 240);

}
.popupButtonsContainer{
  display: flex;
  flex-direction: row;
 justify-content: center;
}

/* end of adding the popup -- end of styling*/

/*///////////////////////////////////////style of the popup modal on view chart////////////////////////////////*/





/*///////////////end of  view chart modal/////////////////////////////////////////////////////////////////////////*/
.tripBookBtn:hover{
    background-color: rgb(118, 207, 177);


   
}
.hrLine{
    width: 100%;
    color: gray;
    margin-top: 5%;
}

.tripInfo{
    color: gray;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.infoAnswers{
    margin-left: 5%;
}

.viewCart{
    background-color: red;
    padding: 10px;
    width: 200px;
    padding-left: 140px;
    margin-left:47%;
    border-radius: 12px;
    margin-top: 8%;
    opacity: 65%;
    
}
.viewCart:hover{
    opacity: 90%;
}

.viewCart p{
    color: white !important;
    
   

 
 
}



/* --------------------------------------------CONTACT PAGE ===-----------------------------*/


.contactBackImg{
    background-image: url(../assets/images/headerbackBack.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}

.conUs{
    padding-top: 10%;

    padding-bottom: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
   
   
}

.conUs p{
    font-family: "Porter Sans Block";
    color: white;
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 25px;
}



#conBut a{
    font-family: "Poppins";
    
    text-decoration: none;
    color: white;
    
    font-size: 30px;
    padding: 4px;


    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

#conBut a:hover{
    color: rgb(70, 11, 126);
    background-color: white;
}
 /*--------------------about contact page section-----------*/

 .about{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    font-family: "Poppins";
    padding: 16px;
    align-items: center;
 }

 .about h2{
    font-size: 48px;
    color: rgb(59, 30, 87) ;
    margin-top: 20px;
    margin-bottom: 12px;

 }

 .aboutPar{
    color: gray;
    font-size: 18px;
    margin: 0px;
 }

 .aboutText{
    width: 50%;

 }

 .aboutImg{
    padding: 16px;
 }




/*---------------- form styling=------------------------*/

.contact{
    display: flex;
    flex-direction: column;
    
}
.contactPage{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
  
    font-family: "Poppins",sans-serif;
    
}

.contact h2{
    color:rgb(59, 30, 87)  ;
    font-size: 30px;
}

.mediaLinks img{
    width: 97px;
    height: 97px;
}

.map iframe{
    border-radius: 15px;
    width: 607px ;
    height: 534px;
}



.inform{
    background-image: url(../assets/images/formBack.png);
    background-size: cover;
    border-radius: 30px;
    font-family: "Poppins";
    font-size: 18px;
    color: white;
    width: 200px;
    padding: 50px;
    margin-top: 130px;
    width: 400px;
    height: 640px;
    

    
}

.inform input ::placeholder{
    font-family: "Porter Sans Block";
}
.inform h2{
    margin-top: 0px;
    font-size: 35px;
}

label{
    padding-bottom: 5px;
}
fieldset{
    display: flex;
    flex-direction: column;

    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0px;
    padding-bottom: 12px;
    width: 100%;
    margin-top: 25px;
}
#sub{
    padding-top: 25px;
}



input:hover , textarea:hover{
border: 3px solid rgb(112, 194, 167);
}

input:focus , textarea:focus{
    outline: 0;
    border: 3px solid rgb(212, 146, 212);
}

input[type=text], input[type=email], textarea {
  
   box-sizing: border-box;
   padding: 12px;
}

.bound{
    resize: none;
    width: 100%;
    border: none;
    height: 50px;
    border-radius: 8px;
    box-sizing: border-box;
}

.bound :hover{
    border: 5px solid rebeccapurple;
}

#contactSubmit{
    padding: 20px;
    padding-right: 34px;
    padding-left: 30px;
    border: none;
    background-color: red;
    color: white;
    width: 50%;
    border-radius: 12px;
    font-size: 20px;
}

#contactSubmit:hover{
    cursor: pointer;
    background-color: rgb(112, 194, 167);
}

/*trying to edit/ see fi the contact input form will actually alow me to style the output*/
.outputForm code{
    font-size: 30px;
    color: red;
}



#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(114, 70, 218, 0.753);
    font-family: "Poppins";
    z-index: 2;
    cursor: pointer;
    
}
  
  .text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    font-weight: 700;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }
  #popupMessage{
    margin-top: 70px;
  }


